body {
    width: 100%;
    text-align: center;
    background-color: ghostwhite;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    background-color: dimgray;
    color: ghostwhite;
    width: 800px;
    margin: 30px auto;
    padding: 30px 0;
}

h2 {
    color: dimgray;
}

table {
    margin: 0 auto;
    font-weight: 400;
    border-collapse: collapse;
    border: 1px solid slategray;
    width: 800px;
}

thead {
    height: 50px;
    text-transform: uppercase;
    color: ghostwhite;
    background-color: slategray;
}

tbody {
    background-color: lightsteelblue;
}

tr:nth-child(even) {background-color: gainsboro;}

thead, td {
    text-align: left;
    padding: 20px;
}

#tags, #attributes {
    margin: 60px 0;
}

.code {
    font-family: monospace;
    background-color: whitesmoke;
    padding: 5px;
}

footer {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    color: whitesmoke;
    background-color: dimgray;
}